

.password-input-container {
    margin-bottom: 1.5rem;
  }

  .password-label {
    display: block;
    font-size: 1rem;
    color: var(--secondary-text);
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .password-input {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: var(--background);
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .password-input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 5px var(--primary-color);
  }
  
  .password-input.valid {
    border-color: green;
  }
  
  .password-toggle-visibility {
    display: flex;
    align-items: center;
    color: var(--accent-color);
    font-size: 0.875rem;
    margin-top: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .password-toggle-visibility i {
    margin-right: 0.5rem;
  }
  
  .password-error {
    color: rgb(99, 0, 0); 
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  